.game {
}

.board-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.board-square {
    color: black;
    border: solid 1px;
    aspect-ratio: 1 / 1;
    height: 100%;
}

.water {
    background-color: blue;
}

.ship {
    background-color: green;
}

.miss {
    background-color: red;
}

.next-turn-button {
    margin: 12px;
}
